$grey: #f4f4f4;

.container {
  align-items: center;
  display: flex;
  width: 80000px;

  .notification {
    display: flex;
    position: absolute;
    width: 37vh;
    height: 10vh;
    border-radius: 12.48px;
    background-color: white;
    left: 344vh;
    top: 30vh;
    z-index: 3;

    .notification__icon {
      width: 40%;
      text-align: center;

      img {
        margin-top: -3vh;
      }
    }

    .notification__text {
      width: 60%;
      line-height: 1.2;
      margin-top: 1vh;
      padding: 10px;
      padding-top: 0px;

      .notification__text--time {
        color: #DBDBDB;
        margin-bottom: 1vh;
      }

      .notification__text--content {
        font-size: 17px;
      }
    }
  }

  .discussion {
    left: 70vh;
    top: 10vh;
    position: absolute;
    z-index: 3;

    .discussion__bubble {
      position: relative;
      border-radius: 12.48px;
      width: 30vh;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 12px;
      margin-bottom: 2vh;

      &.white {
        background-color: white;
        color: #525252;
        margin-left: 29vh;

        &::after {
          content: "";
          color: red;
          width: 22px;
          height: 15px;
          background: url('../assets/bubble-white.svg');
          bottom: 0.2vh;
          right: -1.3vh;
          position: absolute;
        }
      }

      &.blue {
        background-color: #80ADCE;
        color: #FFFFFF;

        &::after {
          content: "";
          color: red;
          width: 22px;
          height: 15px;
          background: url('../assets/bubble-blue.svg');
          bottom: 0.2vh;
          left: -1.3vh;
          position: absolute;
        }
      }
    }
  }

  .background {
    align-items: center;
    display: flex;

    .background__sun {
      height: 15vh;
      position: absolute;
      top: 10vh;
      transform: translate3d(10vh, 0, 0);
    }

    .background__clouds {
      height: 34vh;
      left: 45vh;
      position: absolute;
      top: 6vh;
    }

    .background__colors {
      height: 100vh;
    }

    .background__plan1 {
      position: absolute;
      bottom: 0;
      left: -45vh;
      height: 15vh;
    }

    .background__plan2 {
      position: absolute;
      bottom: 9vh;
      z-index: 2;
      height: 21.5vh;
      left: 0;
    }

    .background__plan3 {
      position: absolute;
      bottom: 19.83vh;
      height: 30.5vh;
      left: 0;
    }

    .background__plan4 {
      position: absolute;
      top: 43.1vh;
      height: 46vh;
      z-index: 0;
      left: -20px;
    }

    .background__plan5 {
      position: absolute;
      bottom: 19.83vh;
      height: 30.5vh;
      left: 0;
    }

    .background__mountain--back {
      align-self: flex-start;
      height: 72vh;
      margin-left: -94vh;
      left: 0;
      z-index: 1;
    }

    .background__mountain--front {
      align-self: flex-start;
      height: 93vh;
      margin-left: -86.2vh;
      margin-top: -.6vh;
      z-index: 3;
    }

    .background__snow {
      animation: snow 10s linear infinite;
      background: none;
      background-image:
      url('../assets/snow/1.png'),
      url('../assets/snow/2.png'),
      url('../assets/snow/3.png');
      height: 100vh;
      margin-left: -1000vh;
      width: 1000vh;
      z-index: 3;
    }
  }

  .section-1 {
    align-items: center;
    background: $grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-left: -1vh;
    width: 6000px;
    z-index: 3;

    img {
      height: 60vh;
    }
  }

  .section-2 {
    align-items: center;
    background: $grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-left: -1vh;
    width: 6000px;
    z-index: 3;

    img {
      height: 50vh;
    }
  }
}

.train {
  path, rect, polygon {
    transition: fill 300ms ease;
  }

  backface-visibility: hidden;
  bottom: 0;
  height: 12vh;
  left: -110vh;
  margin: auto;
  position: absolute;
  top: 46.7vh;
  transition: transform .03s;
  z-index: 2;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
