body {
  background-color: $color-body;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;

  &__separator {
    align-items: center;
    color: $color-seperator;
    display: flex;
    font-family: $font-family-separator;
    font-size: $fontsize-mobile-separator;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5%;
  }

  &__line {
    background-color: $color-seperator;
    height: $height-line-mobile;
    margin-left: 5%;
    width: 75%;
  }

  &__container{
    align-items: center;
    flex-direction: column;
    height: 30vw;
    margin: auto;
    margin-top: 10%;
    width: 90vw;
  }

  &__title {
    font-family: $font-family-sans;
    font-size: $fontsize-mobile-title;
    font-weight: bold;
    margin-bottom: 5%;
  }

  &__content {
    display: block;
    font-family: $font-family-sans;
    font-size: $fontsize-mobile-content;
    line-height: $line-height-mobile;
    text-align: justify;
    width: 90%;
  }

  &__mockup {
    align-items: center;
    width: 50vw;
    img {
      margin: 80px 0 0 -10px;
      max-height: 60vh;

    }
  }




  &__title--red {
    color: $color-title-red;
  }

  &__title--green {
    color: $color-title-green;
  }

  &__content p {
    padding-bottom: 5%;
  }
}

// --- section 1 ---
@media  (max-width: 670px ) and (orientation: landscape) {

  .section-1 {
    overflow: hidden;

    img {
      height: 120vh;
    }
  }


  // --- Wrapper ---
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 90vw;

    &__mockup {
      margin-left: 15%;
      width: 50vw;

      img {
        margin: 50px 0 0;
        max-height: 120vh;
      }
    }
  }
}

@media (min-width: 750px) {

  .section-1 {
    overflow: visible;

    img {
      height: 80vh;
      margin-top: 0;
    }
  }

  // --- Mockup 01 ---
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
    width: 80vw;

    img {
      margin-left: 15%;
      max-height: 80vh;
    }

    &__mockup {
      margin: auto;
    }

    &__line {
      height: $height-line-desktop;
    }

    &__container {
      width: 30vw;
    }

    &__separator {
      font-size: $fontsize-desktop-separator;
    }

    &__title {
      font-size: $fontsize-desktop-title;
    }

    &__content {
      font-size: $fontsize-desktop-content;
      line-height: $line-height-desktop;
    }
  }

}
