.menu {
  margin-left: 5vh;
  position: fixed;
  top: 5vh;
  z-index: 4;

  &.black {
    ul {
      li {
        color: $text-color;
      }
    }
  }

  ul {
    list-style: none;

    li {
      color: $white;
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}
