<div class="01__container">

    <!-- header 01 -->
    <header class="container__header">
        <nav class="container__nav">
            <ul class="container__ul">
                <li class="container__li"><a href="#">Accueil</a></li>
                <li class="container__li"><a href="#">Fonctionnalités</a></li>
                <li class="container__li"><a href="#">Téléchargement</a></li>
            </ul>
        </nav>
    </header>

    <div class="01__wrapper">

        <!-- mockup 01 -->
        <div class="wrapper__mockup"></div>

        <!-- wrapper 01  -->
        <div class="wrapper__container">
            <div class="wrapper__separator">
                <span> 01 <div>---------</div> </span>
            </div>
            <div class="wrapper__title">
                Partagez avec vos amis les voyages que vous prennez.
            </div>
            <div class="wrapper__content">
                <p>
                    Connectez-vous et <span> vous verrez vos billet de trains s’afficher dans le flux </span>, ainsi que celui de tous vos amis.
                </p>
                <p>
                    Ne soyez jamais seul lorsque vous voyagez avec Buddy Train.
                </p>
            </div>
        </div>

    </div>

</div>
