<div class="02__container">

    <!-- header 02 -->
    <header class="container__header">
        <nav class="container__nav">
            <ul class="container__ul">
                <li class="container__li">Accueil</li>
                <li class="container__li">Fonctionnalités</li>
                <li class="container__li">Téléchargement</li>
            </ul>
        </nav>
    </header>

    <div class="02__wrapper">

        <!-- wrapper 02 -->
        <div class="wrapper__container">
            <div class="wrapper__separator">
                <span> 02 <div>---------</div> </span>
            </div>
            <h4 class="wrapper__title">
                Recevez des notifications push lorsque vous amis prennent le train.
            </h4>
            <div class="wrapper__content">
                <p>
                    <span> Buddy Train vous informe </span> dès qu’un de vos amis réserve un billet de train.
                </p>
                <p>
                    Il ne tient qu’à vous de l’accompagner dans son trajet. <span>  Montez dans le train avec Buddy Train ! </span>
                </p>
            </div>
        </div>

        <!-- mockup 02 -->
        <div class="wrapper__mockup"></div>

    </div>

</div>
