<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>BuddyTrain</title>
  </head>
  <body>
    <img class="train" src="../assets/train.svg">
    <div class="container">
      <img class="container__bg" src="../assets/bg.svg">
      <img class="container__sunandclouds" src="../assets/sunandclouds.svg">
      <img class="container__plan1" src="../assets/plan1.svg">
      <img class="container__plan2" src="../assets/plan2.svg">
      <img class="container__plan3" src="../assets/plan3.svg">
      <img class="container__mountain--back" src="../assets/back_mountain.svg">
      <img class="container__mountain--front" src="../assets/front_mountain.svg">
      <section class="container__section-1">
        <img src="../assets/sections/1.png">
      </section>
      <section class="container__section-2">
        <img src="../assets/sections/2.png">
      </section>
    </div>
  </body>
</html>
