<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>BuddyTrain</title>
</head>
<body>
  <img class="train" src="../assets/train.svg">
  <div class="container">
    <img class="bg" src="../assets/bg.svg">
    <img class="mountain-back" src="../assets/back_mountain.svg">
    <img class="mountain-front" src="../assets/front_mountain.svg">

    <section class="section-right first-section">
      <div class="wrapper">
        <!-- mockup 01 -->
        <div class="wrapper__mockup"><img class='wrapper__mockup--special' src="../assets/mockup-01.svg"></div>
        <!-- wrapper container  -->
        <div class="wrapper__container">
          <div class="wrapper__separator">
            <p>
              01 <div class="wrapper__line"></div>
            </p>
          </div>
          <div class="wrapper__title wrapper__title--green">
            Partagez avec vos amis les voyages que vous prennez
          </div>
          <div class="wrapper__content">
            <p>
              Connectez-vous et vous verrez vos billets de train s’afficher dans le flux, ainsi que celui de tous vos amis.
            </p>
            <p>
              Ne soyez jamais seul lorsque vous voyagez avec Buddy Train.
            </p>
          </div>
        </div>
      </div>

    </section>
    <section class="section-left">
      <div class="wrapper">
        <!-- wrapper container  -->
        <div class="wrapper__container">
          <div class="wrapper__separator">
            <p>
              02 <div class="wrapper__line"></div>
            </p>
          </div>

          <h4 class="wrapper__title wrapper__title--red">
            Recevez des notifications push lorsque vous amis prennent le train.
          </h4>
          <div class="wrapper__content">
            <p>
              Buddy Train vous informe dès qu’un de vos amis réserve un billet de train.
            </p>
            <p>
              Il ne tient qu’à vous de l’accompagner dans son trajet.   Montez dans le train avec Buddy Train !
            </p>
          </div>
        </div>

        <!-- mockup 02  -->
        <div class="wrapper__mockup">
          <img class="wrapper__mockup--special" src="../assets/notification.svg">
        </div>

      </div>
    </section>

    <section class="section-right">
      <div class="wrapper">
        <!-- mockup 03  -->
        <div class="wrapper__mockup"><img class="wrapper__mockup--standart" src="../assets/trainline-03.svg"></div>
        <!-- wrapper container  -->
        <div class="wrapper__container">
          <div class="wrapper__separator">
            <p>
              03 <div class="wrapper__line"></div>
            </p>
          </div>
          <h4 class="wrapper__title wrapper__title--green">
            Achetez vos billets avec Voyage SNCF ou Trainline pour partagez le même voyage avec l’un de vos amis !
          </h4>
          <div class="wrapper__content">
            <p>
              Grâce à nos partenaires Voyages SNCF et Trainline, réservez vos billets depuis leurs plateformes en un instant !
            </p>
            <p>
              Être aussi proche de ses amis dans le train, n'aura jamais été aussi facile.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-left">
      <div class="wrapper">
        <!-- wrapper container  -->
        <div class="wrapper__container">
          <div class="wrapper__separator">
            <p>
              04 <div class="wrapper__line"></div>
            </p>
          </div>
          <h4 class="wrapper__title wrapper__title--red">
            Comparez vos voyages grâce aux stastiques de vos trajets !
          </h4>
          <div class="wrapper__content">
            <p>
              D’un simple coup d’oeil, Buddy Train vous permet de connaître toutes les informations relatives à vos voyages passés et à celles de vos amis.
            </p>
            <p>
              Les statistiques n'auront jamais été aussi amusantes
            </p>
          </div>
        </div>
        <!-- mockup 04 -->
        <div class="wrapper__mockup"><img class="wrapper__mockup--standart"src="../assets/stats.png"></div>
      </div>
    </section>

    <section class="section-download">
      <div class="wrapper">
        <!-- mockup 05 -->
        <div class="wrapper__mockup"><img src="../assets/mockup-05.svg"></div>
        <!-- wrapper container  -->
        <div class="wrapper__container">
          <div class="wrapper__content">
            <h4 class="wrapper__title">
              Téléchargement bientôt disponible !
            </h4>
            <p>
              Très prochainement, retrouvé BuddyTrain dans tous les stores.
            </p>
            <p> En attendant, partagez l'information avec vos amis sur vos réseaux sociaux favoris </p>
            <div class="wrapper__download">
              <div class="wrapper__share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://coucou.com" data-size="large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fcoucou.com&layout=button&size=large&mobile_iframe=true&width=89&height=28&appId" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>
              <div class="wrapper__store">
                <img src="../assets/android.png">
                <img src="../assets/appstore.png">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

</body>
</html>



</div>
</div>
