<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>BuddyTrain</title>
  </head>
  <body>
    <img class="bg" src="../assets/bg.svg">
    <img class="train" src="../assets/train.svg">
    <img class="mountain-back" src="../assets/montagne_back.svg">
    <img class="mountain-front" src="../assets/montagne_front.svg">

    <section class="informative">
      <h1>Coucou Nansouille</h1>
    </section>

  </body>
</html>
